.filter-content h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: default;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  background: rgb(235, 235, 244);
  background: linear-gradient(
    90deg,
    rgba(235, 235, 244, 1) 0%,
    rgba(176, 177, 189, 1) 49%,
    rgba(26, 29, 89, 1) 83%
  );
}
.filter-content p {
  cursor: default;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  /* margin-top: 0.5rem;
    margin-bottom: 0.5rem; */
}

.filter-content p:hover {
  background: rgb(235, 235, 244);
  background: linear-gradient(
    90deg,
    rgba(235, 235, 244, 1) 0%,
    rgba(176, 177, 189, 1) 100%,
    rgba(26, 29, 89, 1) 100%
  );
  cursor: pointer;
  transition: 0.5s;
}


